body{
  background-color: #242331;
  color: white;
}

nav{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #242331;
}



.infoText{
color: white;
display: flex;
justify-content: center;  
align-items: center;      
height: 90vh;  

}

.filtersButton{
  border-radius: 0;
  border: none !important;
  border-left: 1px solid #ccc !important;
}

.detective{
  height: 6vh;
  margin-right: auto;
  
}

.detective:hover{
  cursor: pointer;
  height: 6vh;
  margin-right: auto;
}

.searchBar{
  width: 30%;
  border-radius: 10px;
  margin-left: auto;
}

.spinner-border{
margin-top: 200px;
color: white;
}





.card {
  background-color: #242331;
  border : none;
  margin: 20px;
  transition: transform 0.3s ease; 
}


.filter-panel {
max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease; 
}

.filter-panel.show {
max-height: 1500px; 
}







.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.filters-container > div {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  min-width: 150px; 
  border: solid 1px #ccc;
}



.books-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px; 
  justify-content: center; 
}

.card {

  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  padding: 15px;
  flex: 1 1 calc(15% - 20px); 
  margin: 10px; 
  transition: transform 0.3s ease; 
  max-width: calc(25% - 20px); 

}
.bookTitle{
  margin-top: auto;
}

.card:hover {
  transform: scale(1.10); 
}

@media (max-width: 1120px) {
  .card {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px); 
  }
}

@media (max-width: 700px) {
  .card {
    flex: 1 1 calc(90% - 20px); 
    max-width: calc(90% - 20px); 
  }
  .subjectFilterContainer{
  height: 100vh;
}
.filter-panel{
  height: 160vh;
}
}



