body{
  background-color: #242331;
  color: white;
}

nav{
  border-bottom: 1px solid #555;
}

.bookThumbnail{
width: 100%;
height : 100%;
}

.infoText{

color: white;
display: flex;
justify-content: center;  
align-items: center;      
height: 90vh;  

}

.searchBar{
  width: 30%;
  border-radius: 30px;
  margin-left: auto;

}

.spinner-border{
margin-top: 200px;
color: white;
}

.searchButton{
  margin-right: auto;
}
.card {
  background-color: #242331;
  border : none;
  margin: 20px;
  transition: transform 0.3s ease; 
}

@media (max-width: 1000px){
.row{
  height: 600px;
}
}

.filter-panel {
max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease; 
}

.filter-panel.show {
max-height: 700px; 
}

.card:hover {
  transform: scale(1.05); 
}

.books-list{
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}
.card-text{
  margin-top: 30px;

}

.card-img{

  background-color: red;
  transition: background-color 1s ease; 
}

.card-img-overlay .card-title, 
.card-img-overlay .card-text {
  transition: opacity 0.5s ease; 

  font-size: calc(1vw + 0.2rem); 

}

.card-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0); 

}

.card-img-overlay:hover .card-title, 
.card-img-overlay:hover .card-text {
  opacity: 0; 
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.filters-container > div {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  min-width: 150px; 
  border: solid 1px #ccc;
}

@media (max-width: 1120px) {
  .card-img-overlay .card-title, 
  .card-img-overlay .card-text {
      font-size: calc(2.5vw);
  }
}

@media (max-width: 700px) {
  .card-img-overlay .card-title, 
  .card-img-overlay .card-text {
      font-size: calc(5vw);
  }

}

.books-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px; 
  justify-content: center; 
}

.card {

  flex: 1 1 calc(15% - 20px); 
  margin: 10px; 
  transition: transform 0.3s ease; 
  max-width: calc(25% - 20px); 

}

.card:hover {
  transform: scale(1.05); 
}

@media (max-width: 1120px) {
  .card {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px); 
  }
}

@media (max-width: 700px) {
  .card {
    flex: 1 1 calc(100% - 20px); 
    max-width: calc(100% - 20px); 
  }
}